
<div id="top_main">
<div id="mainwrapper">

	<div id="img">

	<div id="search_wrapper">
		    <span><p id="search_title" class="no-opacity">あなたにぴったりなお店を探す</p></span>
			<form id="top" method="post" action="/map/index" >
	     
				<ul>
				<li>
				<select name="distance" id="distance">
				<option value="サンプル1">現在地からの距離</option>
				<option class="xy">いろいろ</option>
				</select>
				</li>

				<li>
				<select name="genre" id="genre">
				<option value="サンプル1">お店のジャンル</option>
				<option class="genre">いろいろ</option>
				</select>
				</li>

				<li>
				<select name="budget" id="budget">
				<option value="サンプル1">予算</option>
				<option class="budget">いろいろ</option>
				</select>
				</li>
				</ul>

          <a href="/map/index"><img src="../assets/button.gif"></a>

			

			</form>

		</div>

  </div>
</div>

	

</div>
