
<div id="top_main">
<div id="mainwrapper">

	<div id="img">

	<div id="search_wrapper">
		    <span><p id="search_title" class="no-opacity">あなたにぴったりなお店を探す</p></span>
			<form method="post" action="example.cgi" class="no_opacity">
	     
				<ul>
				<li>
				<select name="distance" id="distance">
				<option value="サンプル1">現在地からの距離</option>
				<option value="サンプル2">いろいろ</option>
				</select>
				</li>

				<li>
				<select name="genre" id="genre">
				<option value="サンプル1">お店のジャンル</option>
				<option value="サンプル2">いろいろ</option>
				</select>
				</li>

				<li>
				<select name="budget" id="budget">
				<option value="サンプル1">予算</option>
				<option value="サンプル2">いろいろ</option>
				</select>
				</ul>
				</li>


			<input id="submit_button" type="submit" value="検索">

			</form>

		</div>

  </div>
</div>



	

</div>


<p>Find me in app/views/top/index.html.erb</p>
