


#top_main{
	width:100%;
	margin-top:1px;
	background-color: #facd89;
}



#mainwrapper{
	width:80%;
	height:auto;
	margin: 0 auto;
}
#img{
	background: url(../assets/mainimg.jpg) no-repeat -40px 0px;
	height:800px;
	overflow: hidden;
	-webkit-background-size:105% auto;
	
}

#search_wrapper{
	border-radius:10px;
	background-color: rgba(250,205,137,0.7);
	width:17em;
	height:auto;
	position:absolute;
	top: 30%;
	right:15%;
	z-index:1;
}

#search_wrapper span{
	background: #facd89;
}

#search_wrapper p{  
   
	margin:1em 0;
	padding: 2px 0;
    text-align: center;
    font-size:1.1em;
	background: #f8b551;
	color:white;
}

#search_wrapper ul{
	width:80%;
}

#search_wrapper li{
	margin:1em;
	text-align: right;
}

#search_wrapper img{
	margin:2em auto;
}

form{
	text-align: center;
}

img{
	width:65%;
	
}