


#top_main{
	width:100%;
	margin-top:1px;
	background-color: #facd89;
}



#mainwrapper{
	width:80%;
	height:auto;
	margin: 0 auto;
}
#img{
	background: url(../assets/mainimg.jpg) no-repeat -40px 0px;
	height:800px;
	overflow: hidden;
	-webkit-background-size:105% auto;
	
}

#search_wrapper{
	border-radius:10px;
	background-color: rgba(250,205,137,0.7);
	width:250px;
	height:300px;
	position:absolute;
	top: 30%;
	right:15%;
	z-index:1;
}

#search_wrapper span{
	background: #facd89;
}

#search_wrapper p
{   
	margin:1em 0;
	text-align: center;
    font-size:1.2em;
	background: #f8b551;
	color:white;
}


